$color: #ffc200;
$bg-btn: $color;

@mixin font($name, $weight, $weightname) {
    font: {
        family: $name;
        weight: $weight;
        display: swap;
    }   
    src: local("#{$name}"), url("../fonts/#{$name}-#{$weightname}.woff2") format("woff2"),
        url("../fonts/#{$name}-#{$weightname}.woff") format("woff");
    
}

@mixin bg-full($url) {
    background: {
        image: url($url);
        size: cover;
        position: center;
        repeat: no-repeat;
    };
}

// jpg png jpeg

@mixin bg-avif-webp($url, $type) {
    background: {
        image: url("#{$url}.#{$type}");        
    };
    background: {
        image: -webkit-image-set(
            url("#{$url}.avif"),    
            url("#{$url}.webp"),    
            url("#{$url}.#{$type}")
        );
        image: image-set(
            url("#{$url}.avif"),    
            url("#{$url}.webp"),    
            url("#{$url}.#{$type}")
        );
    };
}
